.toggle-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.switch {
    box-sizing: content-box !important;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin: 0;
    touch-action: none;
}
  
.switch input {
    box-sizing: content-box !important;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: content-box !important;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #5D84FB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5D84FB;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-text {
    padding-left: 15px;
}